body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 24px; /* Increase font size for navbar brand */
    
}

.navbar-nav .nav-link {
    color: #ffffff;
    margin-right: 20px;
    font-size: 18px; /* Increase font size for navbar links */
    text-decoration: none;

}
.navbar-toggler-icon {
    background-color: #ffffff;
}

#hero {
    background: url('../assets/images/GettyImages-998025222-cbe0dc3.webp') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#portfolio .row {
    display: flex; /* Use Flexbox for the row */
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* Adjust the space between items */
}

.portfolio-item {
    width: 100%; /* Ensure each item takes full width of column */
    text-align: center; /* Center the content */
    margin-bottom: 20px; /* Optional: Add margin bottom */
}

.portfolio-item img {
    width: 100%; /* Ensure each image fills its parent container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the container while preserving aspect ratio */
    border-radius: 30px;
}

#team .row {
    display: flex; /* Use Flexbox for the row */
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* Adjust the space between items */
}

.team{
    width: 100%; /* Ensure each item takes full width of column */
    text-align: center; /* Center the content */
    margin-bottom: 20px; /* Optional: Add margin bottom */
}

.team img {
    width: 100%; /* Ensure each image fills its parent container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the container while preserving aspect ratio */
    border-radius: 30px;
}


#hero p {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#services, #portfolio, #team, #contact {
    padding: 80px 0;
}

.team-member h3 {
    margin-top: 10px;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
}
#lonem{
    border-radius: 30px;
    width: 40;
}